<web-app>  
 <servlet>  
<servlet-name>adminlogin</servlet-name>  
<servlet-class>adminlogin</servlet-class>  
</servlet> 

 <servlet>  
<servlet-name>registeruser</servlet-name>  
<servlet-class>registeruser</servlet-class>  
</servlet> 

 <servlet>  
<servlet-name>registertech</servlet-name>  
<servlet-class>registertech</servlet-class>  
</servlet>

 <servlet>  
<servlet-name>manageadmin</servlet-name>  
<servlet-class>manageadmin</servlet-class>  
</servlet>

<servlet>  
<servlet-name>userservlet</servlet-name>  
<servlet-class>userservlet</servlet-class>  
</servlet>

<servlet>  
<servlet-name>userdet</servlet-name>  
<servlet-class>userdet</servlet-class>  
</servlet>


<servlet-mapping>  
<servlet-name>adminlogin</servlet-name>  
<url-pattern>/adminlogin</url-pattern>  
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>registeruser</servlet-name>  
<url-pattern>/registeruser</url-pattern>  
</servlet-mapping>

<servlet-mapping>  
<servlet-name>registertech</servlet-name>  
<url-pattern>/registertech</url-pattern>  
</servlet-mapping>

<servlet-mapping>  
<servlet-name>manageadmin</servlet-name>  
<url-pattern>/manageadmin</url-pattern>  
</servlet-mapping>

<servlet-mapping>  
<servlet-name>userservlet</servlet-name>  
<url-pattern>/userservlet</url-pattern>  
</servlet-mapping>

<servlet-mapping>  
<servlet-name>userdet</servlet-name>  
<url-pattern>/userdet</url-pattern>  
</servlet-mapping>



<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list> 
</web-app>  
